<h1>Informacao</h1>
<table border="1">
    <thead>
        <tr>
            <td><b>Quilometragem</b></td>
            <td><b>Litros</b></td>
            <td><b>Matricula</b></td>
            <td><b>Data da viagem</b></td>
            <td colspan="2"><b>Consumo/KM</b></td>
        </tr>
    </thead>
    {{#each registro}}
    <tbody>
        <tr>
            <td>{{dataValues.quilometragem}}</td>
            <td>{{dataValues.litros}}</td>
            <td>{{dataValues.matricula}}</td>
            <td>{{dataValues.dataViagem}}</td>
            <td>{{dataValues.consumoKM}} L/KM</td>
            <td>
                <a href="/deletar/{{dataValues.id}}">
                    <button>Deletar</button>
                </a>
            </td>
        </tr>
    </tbody>
    {{/ each}}
</table>